# Dolphin (BigBoss)
# DOLPHIN_MT4_FILES_PATH=C:\path\to\dolphin\MQL4\Files

# Kronos (XM)
KRONOS_MT4_FILES_PATH=C:\Users\MT4ver2-z34-fudLrzdp\AppData\Roaming\MetaQuotes\Terminal\082F53F5881F3D6022DF806C3D307B50\MQL4\Files

# LINE Notify
# LINE_NOTIFY_TOKEN=your_token_here
